{% extends 'shop/basic.html'%}
{% block body %}
<div class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Welcome to our Blog!</h1>
      <p class="lead my-3">Get to know more about market strategies with our top market managers.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-2">
    {% for i in blog %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 text-primary">{{i.post_id}}</strong> -->
          <h5 class="mb-0">{{i.title}}</h5>
          <div class="mb-1 text-muted">{{i.pub_date}}</div>
          <p class="card-text mb-auto">{{i.head0|slice:":30"}}</p>
          <a href="/blog/blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{i.thumbnail}}" class="bd-placeholder-img" width="200" height="250"
            aria-label="Placeholder: Thumbnail">
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row mb-2">
    {% endif %}

    {% endfor %}
  </div>
  {% endblock body %}